@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');


*{
    font-family: 'Kanit', sans-serif;
}

/* navbar */
.bg {
    background-color: #b42026;
}

li.nav-item:hover {
    background-color: #851a1e;
    border-radius: 10px;
}

nav{
    border-bottom: #f58b0d;
    font-family: 'Kanit', sans-serif;
}
/* End navbar */


/* Banner */
div.carousel-item img{
    border-radius: 10px;
}
/*End Banner */

section.head{
    font-family: 'Kanit', sans-serif;
    color: #424242;
}

/* Promotion Card */
section.promotion-card{
    font-family: 'Kanit', sans-serif;
}

div.card{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}
/* End Promotion Card */

/* Scrollbar */
body::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffa600;
}
/* End Scrollbar */

/* Member */
section.member{
    background-color: #f3f3f3;
    height: 700px;
}

div.member-card h1{
    color: #424242;
}

div.member-card p{
    color: #6b6b6b;
}

/* iphone se */
@media only screen and (min-width: 370px){
    div.baland{
        padding-left: 17%;
    }
    div.cardd{
        margin-bottom: 55%;
    }
    section.member{
        height: 1450px;
    }
}

/* phone */
@media only screen and (min-width: 380px){
    div.baland{
        padding-left: 17%;
    }
}

/* phone */
@media only screen and (min-width: 400px){
    div.baland{
        padding-left: 20%;
    }
}

/* ipad mini */
@media only screen and (min-width: 760px){
    div.baland{
        padding-left: 2%;
    }
    section.member{
        height: 700px;
    }
}

/* ipad */
@media only screen and (min-width: 800px){
    div.baland{
        padding-left: 0%;
    }
    section.member{
        height: 700px;
    }
}

/* pc */
@media only screen and (min-width: 1009px){
    div.baland{
        padding-left: 10%;
    }
    div.cardd{
        margin-bottom: 0;
    }
}
/* End Member */

/* head footer */
section.header-footer{
    background-color: #b42026;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    margin-top: 100px;
}
/* End head footer */

/* footer */
footer{
    background-color: #f58b0d;
    padding: 15px;
    margin: 0;
}

/* top-nav */
nav.top-nav a {
    text-decoration: none;
    color: white;
}

nav.top-nav {
    padding: 5px;
    background-color: #c83d23;
}

nav.top-nav a:hover{
    color: rgb(223, 218, 218);
}
/* End top-nav */
